{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Editar Receita</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 bg-side">
                    <div class='header'>
                        <img src= '{% static "usuario/img/logo.png" %}' width="9%"><span class="font-logo">Estou com Fome</span>
                    </div>

                    <div class="body-form">
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <div class="alert {{message.tags}}">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h2>Edite sua Receita</h2>
                        <p>Estou com Fome.</p>
                        <hr>
                        <form action='{% url "atualizar_receita" receita.id %}' method="POST">{% csrf_token %}
                            <span>Titulo:</span>
                            <input type="text" class="form-control" VALUE="{{receita.titulo}}" name="titulo">
                            <br>
                            <span>Descricao:</span>
                            <input type="msg" class="form-control" VALUE="{{receita.descricao}}" name="descricao">
                            <br>
                            <span>Tempo de Preparação:</span>
                            <input type="number" class="form-control" VALUE="{{receita.tempo_preparacao}}"name="tempo_preparacao">
                            <br>
                            <span>Serve:</span>
                            <input type="number" class="form-control" VALUE="{{receita.serve_pessoas}}"name="serve_pessoas">
                            <br>
                            <span>Imagem:</span>
                            <img src="../media/imagens/{{receita.imagem}}" alt="">
                            <input type="file" class="form-control" name="imagem">
                            <br>
                            <span>Publicar:</span>
                            {% if receita.publicada %}
                            <input type="RADIO" name="publicada" VALUE=True checked> Sim
                            <input type="RADIO" name="publicada" VALUE=False > Não
                            {% else %}
                            <input type="RADIO" name="publicada" VALUE=True> Sim
                            <input type="RADIO" name="publicada" VALUE=False checked> Não
                            {% endif %}
                            <br>
                            <div class="row">
                            <input type="submit" value="Salvar Atualização" class="btn-custom-primary">

                        </form>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="side-logo">
                        <img class="logo-margin-top" src='{% static "usuario/img/logo.png" %}' width="20%">
                        <h1>Estou com Fome</h1>
                        <p>A arte de cozihar.</p>
                    </div>
                </div>

            </div>



        </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
